<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/customer}">Customers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/purchase}">Purchases</a>
    </li>

</ul>

<h2 style="color: black">Welcome to Get Whatever You Need online shopping site! </h2>


<a th:href="@{/customer/highest-spender}">
    <p>Most money spent</p>
</a>
</body>
</html>